body{
	background-color: #F5F5F5 !important;
	color: #333 !important;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.left-section{
	padding: 0px !important;
	position: relative;
	width: 33%;
	min-width: 300px;
	float: left;
	background-color: #F5F5F5;
}
.right-section{
	position: fixed !important;
	right: 0px;
	height: 100%;
	background-color: #00b0bc;
	width: 67%;
	min-width: 300px;
	float: right;
}
.leaflet-popup-content-wrapper{
	border-radius: 0;
	box-shadow: none;
}
h1, h2, h3, h4{
	padding: 0px 15px;
}
p{
	padding: 0px 15px;
}
h1{
	margin-bottom: 0px !important; 
}
h4{
	padding-bottom: 10px;
	margin: 0px !important;
}
.conversation{

}
.message{
	border-top: solid 1px #CCC;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}
.message:hover{
	background-color: #DDD;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.message:last-child{
	border-bottom: solid 1px #CCC;
}
.notopen{
	background-color: #00b0bc;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #FFF;
	line-height: 100%;
}
.lead{
	margin: 0px !important;
}
small{
	padding: 0px 15px;
}

#menu{
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #00b0bc;
}
#menu h1{
	position: relative;
	float: left;
	margin: 0;
	width: 90%;
	color: #FFF;
}
.btn-menu{
	position: relative;
	float: right;
	top:0px;
	height: 100%;
	width: 10%;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    color: #FFF;
}
.btn-menu i{
	line-height: 40px;
}
.btn-menu:hover{
	background-color: #18CDCA;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.btn-home{
	background-color: #EEE;
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #333;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.btn-home:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
	background-color: #FF5349;
	color: #333;
	text-decoration: none;	
}
.btn-messages{
	background-color: #EEE;
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #333;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.btn-messages span{
	font-size: 0.8em;
	line-height: 1.5em;
	float: right;
}
.btn-messages:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
	background-color: #FF5349;
	color: #333;
	text-decoration: none;	
}
.friends-section{
	background-color: #FAFAFA;
	padding: 5px 0px 2px 0px;
}
.friends-section small{
	float: right;
}
.friends-section a{
	cursor: pointer;
}

#newFriendResponse button{
	margin: 0 10px !important;
}

#menu-section{
	background-color: #00b0bc;
	padding:15px 0px;
}

.btn-list-menu{
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #FFF;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.btn-list-menu:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    color: #FFF;
	background-color: #FF5349;
	text-decoration: none;	
}
#btn-setlocation{
	cursor: pointer;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    color: #00b0bc;
}
#btn-setlocation:hover{
	color: #FF5349;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
#locationcursor{
	position: absolute;
}

