body{
	background-color: #F5F5F5 !important;
	color: #333 !important;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.left-section{
	padding: 0px !important;
	position: relative;
	width: 33%;
	min-width: 300px;
	float: left;
	background-color: #F5F5F5;
}
.right-section{
	position: fixed !important;
	right: 0px;
	height: 100%;
	background-color: #00b0bc;
	width: 67%;
	min-width: 300px;
	float: right;
}
.leaflet-popup-content-wrapper{
	border-radius: 0;
	box-shadow: none;
}
h1, h2, h3, h4{
	padding: 0px 15px;
}
p{
	padding: 0px 15px;
}
h1{
	margin-bottom: 0px !important; 
}
h4{
	padding-bottom: 10px;
	margin: 0px !important;
}
.conversation{

}
.message{
	border-top: solid 1px #CCC;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}
.message:hover{
	background-color: #DDD;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.message:last-child{
	border-bottom: solid 1px #CCC;
}
.message img{
	max-width: 80%;
	margin-left: 30px;
	padding: 10px 10px;
	border-left: solid 1px #AAA;
}
.notopen{
	background-color: #00b0bc;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #FFF;
	line-height: 100%;
}
.lead{
	margin: 0px !important;
}
small{
	padding: 0px 15px;
}

#menu{
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #00b0bc;
}
#menu h1{
	position: relative;
	float: left;
	margin: 0;
	width: 90%;
	color: #FFF;
}
.btn-section{
	float: left;
	width: 100%;
}
.btn-menu{
	position: relative;
	float: right;
	top:0px;
	height: 100%;
	width: 10%;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    color: #FFF;
}
.btn-menu i{
	line-height: 40px;
}
.btn-menu:hover{
	background-color: #18CDCA;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.btn-home{
	background-color: #EEE;
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #333;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.btn-home:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
	background-color: #CCC;
	color: #333;
	text-decoration: none;	
}
.btn-messages{
	background-color: #EEE;
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #333;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
.btn-messages span{
	font-size: 0.8em;
	line-height: 1.5em;
	float: right;
}
.btn-messages:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
	background-color: #FF5349;
	color: #333;
	text-decoration: none;	
}
.friends-section{
	background-color: #FAFAFA;
	padding: 5px 0px 2px 0px;
}
.friends-section small{
	float: right;
}
.friends-section a{
	cursor: pointer;
}

#newFriendResponse button{
	margin: 0 10px !important;
}

#menu-section{
	background-color: #00b0bc;
	padding:15px 0px;
}

.btn-list-menu{
	display: block;
	font-size: 20px;
	padding: 2px 15px;
	color: #FFF;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    cursor: pointer;
}
.btn-list-menu:hover{
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    color: #FFF;
	background-color: #18CDCA;
	text-decoration: none;	
}
#btn-setlocation{
	cursor: pointer;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
    color: #00b0bc;
}
#btn-setlocation:hover{
	color: #FF5349;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}
#locationcursor{
	position: absolute;
}

#profil{
	width: 100%;
	float: left;
}
#profil h2{
	float: left;
	width: 50%;
}
.profilImg{
	float: right;
 	overflow:hidden;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;
    width:90px;
    height:90px;
    margin: 10px;
    background-size: cover !important;
    -moz-box-shadow: 0px 0px 15px 0px #666;
	-webkit-box-shadow: 0px 0px 15px 0px #666;
	-o-box-shadow: 0px 0px 15px 0px #666;
	box-shadow: 0px 0px 15px 0px #666;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#666, Direction=NaN, Strength=15);
}
.leaflet-container img{
  max-height: 300px;
  padding: 10px;
  border-left: solid 1px #AAA;
}
.changepicture{
	display: none;	
}
.profilImg:hover .changepicture{
	display: inline-block;
	position: relative;
	top:24px;
	left:15px;
	margin: auto;
	color: #00b0bc;
}

.chosepicture{
	display:none;
	position: fixed;
	right: 0;
    left: 0;
    top: 40px;
    margin-right: auto;
    margin-left: auto;
	background-color: #F5F5F5;
	height: 150px;
	width: 320px;
	z-index: 1000;
	-moz-box-shadow: 0px 0px 15px 0px #666;
	-webkit-box-shadow: 0px 0px 15px 0px #666;
	-o-box-shadow: 0px 0px 15px 0px #666;
	box-shadow: 0px 0px 15px 0px #666;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#666, Direction=NaN, Strength=15);
}
.chosepicture input{
	padding: 10px;
}
.chosepicture form button{
	float: right;
	margin-right: 10px !important;
}

#spinner{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url(http://1x1px.me/FFFFFF-0.5.png);
	text-align: center;
	color: #333;
    z-index: 10000;
}
#spinner p{
	position: relative;
	top: 50%;
    transform: translateY(-50%);
}

