body{
	background-color: #FFF !important;
	color: #333 !important;
}
.global{
	position: relative;
	width: 100%;
}
#menu{
	position: fixed;
	background-color: #00b0bc;
	width: 100%;
	padding: 5px;
	z-index: 10;
}
.left{
	position: relative;
	float: left;
	width: 50%;
	padding: 30px;
}
.right{
	position: fixed;
	right: 0px;
	width: 50%;
	height: 100%;
	background-color: #00b0bc;
	z-index: 2;
}
.lalogohome{
	font-size: 3em;
}
