body{
	background-color: #FFF !important;
	color: #333 !important;
	overflow-y: hidden;
}
.global{
	position: relative;
	width: 100%;
}
#menu{
	position: fixed;
	text-align: right;
	width: 100%;
	padding: 5px;
	z-index: 10;
	padding: 10px 50px;
}
.section{
	position: relative;
	width: 100%;
	padding: 30px;
}
#map{
	height: 400px;
	z-index: 1;
}
#presentation{
	height: 400px;
}
#presentation h1, #presentation h2{
	text-align: center;
}
.lalogohome{
	font-size: 3em;
}
#big_logo{
	position: relative;
	margin: auto;
	width: 300px;
	z-index: 10;
	margin-top: 50px;
}
